@inject NavigationManager navigationManager;
@inject HttpClient httpClient;

    <BSModal @ref="ModalInstance" HideEvent="OnHide" Size="Size.Large">
        <BSModalHeader OnClick="CloseSubview">
            @ModalHeader
        </BSModalHeader>
        <BSModalBody>
            <BSContainer IsFluid="true">
                <BSRow>
                    <BSCol>
                        <BSForm Model="@Model" OnValidSubmit="@HandleValidSubmit">
                            <DataAnnotationsValidator />
                            <BSRow Class="form-row">
                                <BSCol>
                                    <BSFormGroup>
                                        <BSLabel For="Code">Currency Code</BSLabel>
                                        <BSInput Id="Code" InputType="InputType.Text" PlaceHolder="Enter Currency Code" @bind-Value="Model.Code"></BSInput>
                                        <BSFormFeedback For="@(() => Model.Code)" />
                                    </BSFormGroup>
                                </BSCol>
                                <BSCol>
                                    <BSFormGroup>
                                        <BSLabel For="Symbol">Symbol</BSLabel>
                                        <BSInput Id="Symbol" InputType="InputType.Text" PlaceHolder="Enter Currency Symbol" @bind-Value="Model.Symbol"></BSInput>
                                        <BSFormFeedback For="@(() => Model.Symbol)" />
                                    </BSFormGroup>
                                </BSCol>
                            </BSRow>
                            <BSRow Class="form-row">
                                <BSCol>
                                    <BSFormGroup>
                                        <BSLabel For="Name">Name</BSLabel>
                                        <BSInput Id="Name" InputType="InputType.Text" PlaceHolder="Enter Currency Name" @bind-Value="Model.Name"></BSInput>
                                        <BSFormFeedback For="@(() => Model.Name)" />
                                    </BSFormGroup>
                                </BSCol>
                            </BSRow>
                            <BSRow Class="form-row">
                                <BSCol Class="d-flex justify-content-around">
                                    <BSButton Color="Color.Primary" ButtonType="ButtonType.Submit" Value="Save"></BSButton>
                                    <BSButton IsOutline="true" Color="Color.Secondary" @onclick="CloseSubview">Cancel</BSButton>
                                </BSCol>
                                @if (Model.Id > 0)
                                {
                                    <div class="float-right">
                                        <DeleteButtonWithConfirm OnConfirmDelete="DeleteItem" />
                                    </div>
                                }
                            </BSRow>
                        </BSForm>
                    </BSCol>
                </BSRow>
            </BSContainer>
        </BSModalBody>        
    </BSModal>

@code{
    [Parameter]
    public CurrencyModel Model { get; set; }
    [Parameter]
    public string ModalHeader { get; set; }
    [Parameter]
    public EventCallback OnHide { get; set; }

    private BSModal ModalInstance;
    private DeleteButtonWithConfirm deleteButton;



    public async override Task SetParametersAsync(ParameterView parameters)
    {
        await base.SetParametersAsync(parameters);
        Model = Model ?? new CurrencyModel();
    }

    async Task HandleValidSubmit()
    {
        if (Model.Id == 0)
        {
            await httpClient.PostJsonAsync("/api/currency", Model);
            ModalInstance.Hide();
        } else
        {
            await httpClient.PutJsonAsync($"/api/currency/{Model.Id}", Model);
            ModalInstance.Hide();
        }
    }
    async Task DeleteItem()
    {
        await httpClient.DeleteAsync($"/api/currency/{Model.Id}");
        this.CloseSubview();
    }
    void CloseSubview()
    {
        this.ModalInstance.Toggle();
    }

    public void Toggle()
    {
        ModalInstance.Toggle();
    }
}