@page "/settings/currencies/new"
@page "/settings/currencies/edit/{id:int}"

@inject ICurrencyService _currencyManager
@inject ICurrencyRepository _currencyRepository
@inject IMapper _mapper;
@inject IUriHelper UriHelper

<BSContainer IsFluid="true">
    <BSRow>
        <BSCol>
            <div class="card">
                <h5 class="card-header">@FormName</h5>
                <div class="card-body">
                    <BSForm Model="@currencyDto" OnValidSubmit="@HandleValidSubmit">
                        <DataAnnotationsValidator />
                        <BSRow Class="form-row">
                            <BSCol MD="6">
                                <BSFormGroup>
                                    <BSLabel For="Code">Currency Code</BSLabel>
                                    <BSInput Id="Code" InputType="InputType.Text" PlaceHolder="Enter Curency Code" @bind-Value="currencyDto.Code"></BSInput>
                                    <BSFormFeedback For="@(() => currencyDto.Code)" />
                                </BSFormGroup>
                            </BSCol>
                            <BSCol MD="6">
                                <BSFormGroup>
                                    <BSLabel For="Symbol">Symbol</BSLabel>
                                    <BSInput Id="Symbol" InputType="InputType.Text" PlaceHolder="Enter Curency Symbol" @bind-Value="currencyDto.Symbol"></BSInput>
                                    <BSFormFeedback For="@(() => currencyDto.Symbol)" />
                                </BSFormGroup>
                            </BSCol>
                        </BSRow>
                        <BSRow Class="form-row">
                            <BSCol>
                                <BSFormGroup>
                                    <BSLabel For="Name">Name</BSLabel>
                                    <BSInput Id="Name" InputType="InputType.Text" PlaceHolder="Enter Curency Name" @bind-Value="currencyDto.Name"></BSInput>
                                    <BSFormFeedback For="@(() => currencyDto.Name)" />
                                </BSFormGroup>
                            </BSCol>
                        </BSRow>
                        <BSRow Class="form-row">
                            <BSCol Class="d-flex justify-content-around">
                                <BSButton ButtonType="ButtonType.Submit">Save</BSButton>
                                <BSButton IsOutline="true" Color="Color.Secondary" @onclick="@(()=> UriHelper.NavigateTo("settings/currencies"))">Cancel</BSButton>
                            </BSCol>
                        </BSRow>
                    </BSForm>
                </div>
            </div>
        </BSCol>
    </BSRow>
</BSContainer>


@code{
    [Parameter]
    public int? Id { get; set; }

    private string FormName => Id.HasValue ? "Edit Currency" : "Add New Currency";
    private CurrencyViewModel currencyDto = new CurrencyViewModel();
    private Currency currency = new Currency();

    protected override void OnInitialized()
    {
        if (Id.HasValue)
        {
            currency = _currencyManager.GetById(Id.Value);
            currencyDto = _mapper.Map<CurrencyViewModel>(currency);
        }
    }

    async Task HandleValidSubmit()
    {
        _mapper.Map<CurrencyViewModel, Currency>(currencyDto, currency);
        if (!Id.HasValue)
        {
            //await _currencyManager.CreateAsync(currency);
            //await _currencyManager.SaveChangesAsync();
            _currencyManager.Create(currency);
            _currencyManager.SaveChanges();

            UriHelper.NavigateTo("settings/currencies");
        }
        else
        {
            _currencyRepository.Update(currency);
            await _currencyManager.SaveChangesAsync();
            UriHelper.NavigateTo("settings/currencies", true);
        }
    }
}
