@model IEnumerable<CurrencyViewModel>

<h4>Currencies</h4>
<p>
    <a asp-action="Create" class="btn btn-primary btn-sm">New Currency</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Code}) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Code })
            </td>
        </tr>
}
    </tbody>
</table>
