@model IEnumerable<ExpenseManager.WebApp.Models.ExpenseViewModel>

<h4>Expenses</h4>
<p>
    <a asp-action="Create" class="btn btn-primary btn-sm">New Expense</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ExpenseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PayFromAccountId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurrencyCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PayeeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedOn)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <label>@item.ExpenseDate.ToShortDateString()</label>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Notes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PayFromAccountId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CurrencyCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PayeeId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedOn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UpdatedOn)
                </td>
                <td>
                    <div class="btn-toolbar float-right">
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm"><i class="material-icons">edit</i></a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm"><i class="material-icons">delete</i></a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
