@model AccountTypeDto
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>AccountType</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            <label asp-for="Id"></label>
        </dt>
        <dd class="col-sm-10">
            @Model.Id
        </dd>
        <dt class="col-sm-2">
            <label asp-for="Name"></label>
        </dt>
        <dd class="col-sm-10">
            @Model.Name
        </dd>
        <dt class="col-sm-2">
            <label asp-for="CreatedOn"></label>
        </dt>
        <dd class="col-sm-10">
            @Convert.ToDateTime(Model.CreatedOn).ToShortDateString()
        </dd>
        <dt class="col-sm-2">
            <label asp-for="UpdatedOn"></label>
        </dt>
        <dd class="col-sm-10">
            @Convert.ToDateTime(Model.UpdatedOn).ToShortDateString()
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>|
    <a asp-action="Index">Back to List</a>
</div>